### IntelliJ IDEA ###
*/*/classes/
*/*/.gradle/
*/*/gradle/
*/*/.idea/
*/*/build/
*/*/out/

*/*/gradlew
*/*/gradlew.bat
*/*/HELP.md

*/*/!gradle/wrapper/gradle-wrapper.jar
*/*/*.iws
*/*/*.iml
*/*/*.ipr
.scannerwork

*/*/target/
*/*/mvnw
*/*/mvnw.cmd

### EXTRA ###
*/*.zip

